* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #000;
}
#root {
  max-width: 624px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 769px) {
  #root {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.margin-0 {
  margin: 0;
}
/* fonts: arvo 700 serif / lato 400 - 700 -900 sans-serif */
.header {
  display: grid;
  gap: 40px;
  margin-top: 5px;
}
@media (min-width: 769px) {
  .header {
    margin-top: 15px;
  }
}
.header__welcome {
  display: grid;
  justify-items: center;
}
@media (min-width: 749px) {
  .header__welcome {
    grid-template-columns: repeat(2, auto);
    align-items: center;
  }
}
.welcome__title {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  max-width: 300px;
}
@media (min-width: 769px) {
  .welcome__title {
    font-size: 48px;
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .welcome__title {
    font-size: 66px;
    max-width: 700px;
  }
}
.welcome__title--freatured {
  color: #ff7a00;
}
.welcome__img {
  max-width: 300px;
  max-height: 280px;
}
@media (min-width: 769px) {
  .welcome__img {
    max-width: 262px;
    max-height: 244px;
  }
}
@media (min-width: 1200px) {
  .welcome__img {
    max-width: 380px;
    max-height: 320px;
  }
}
/* crear un contenedor para el title y para la img de welcome */
/* COINS SECTION */
.coins {
  display: grid;
  gap: 50px;
  margin-top: 25px;
  /* max-width: 624px; */
  /* margin: 0 auto; */
}
.coins__search-and-find-cont {
  display: grid;
}
@media (min-width: 769px) {
  .coins__search-and-find-cont {
    gap: 24px;
  }
}
@media (min-width: 1200px) {
  .coins__search-and-find-cont {
    align-items: flex-end;
    grid-template-columns: repeat(2, auto);
  }
}
/* COINS SEARCH AND RESULT PROPERTIES*/
.cs__title,
.cr__text {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
@media (min-width: 769px) {
  .cs__title,
  .cr__text {
    font-size: 24px;
  }
}
.container {
  margin-top: 5px;
  display: flex;
}
.cs__input,
.cr__text-container {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 11px 0 11px 16px;
  background-color: #232323;
}
@media (min-width: 769px) {
  .cs__input,
  .cr__text-container {
    font-size: 18px;
  }
}
@media (min-width: 769px) {
  .cs__input,
  .cr__text-container {
    font-size: 20px;
  }
}
.cs__input:focus,
.cr__input:focus {
  outline: none;
  border: 0.1px solid #fff;
}
.cs__btn,
.cr__btn {
  border: none;
  border-radius: 8px;
  margin-left: -20px;
  background-color: #ff7a00;
  padding: 6px 10px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  white-space: nowrap;
}
@media (min-width: 769px) {
  .cs__btn,
  .cr__btn {
    font-size: 18px;
  }
}
@media (min-width: 769px) {
  .cs__btn,
  .cr__btn {
    font-size: 22px;
  }
}
.cs__btn--icon {
  width: 20px;
  height: 20px;
}
@media (min-width: 769px) {
  .cs__btn--icon {
    width: 26px;
    height: 26px;
  }
}
@media (min-width: 1200px) {
  .cs__btn--icon {
    width: 32px;
    height: 32px;
  }
}
/* COINS RESULT PROPERTIES */
.cr__text-money {
  font-size: 14px;
  margin-left: 28px;
  color: #4cd71d;
}
@media (min-width: 769px) {
  .cr__text-money {
    font-size: 18px;
  }
}
@media (min-width: 769px) {
  .cr__text-money {
    font-size: 20px;
  }
}

/* COINS TRACKED */
.coins__tracked {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 46px 20px;
  margin-bottom: 48px;
}
@media (min-width: 700px) {
  .coins__tracked {
    grid-template-columns: repeat(3, auto);
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .coins__tracked {
    grid-template-columns: repeat(4, auto);
  }
}
