* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.margin-0 {
  margin: 0;
}
/* fonts: arvo 700 serif / lato 400 - 700 -900 sans-serif */
#root {
  background-color: #000;
  padding: 25px 24px 0 24px;
}
.header {
  display: grid;
  gap: 40px;
}
@media (min-width: 769px) {
  .header {
    gap: 68px;
  }
}
.header__logo-container {
  display: flex;
  justify-content: flex-end;
}
.header__logo {
  max-width: 130px;
  max-height: 20px;
}
@media (min-width: 769px) {
  .header__logo {
    max-width: 145px;
    max-height: 27px;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    max-width: 260px;
    max-height: 35px;
  }
}
.header__welcome {
  display: grid;
  justify-items: center;
}
@media (min-width: 769px) {
  .header__welcome {
    grid-template-columns: repeat(2, auto);
    align-items: center;
  }
}
.welcome__title {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  max-width: 300px;
}
@media (min-width: 769px) {
  .welcome__title {
    font-size: 48px;
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .welcome__title {
    font-size: 66px;
    max-width: 700px;
  }
}
.welcome__title--freatured {
  color: #ff7a00;
}
.welcome__img {
  max-width: 300px;
  max-height: 280px;
}
@media (min-width: 769px) {
  .welcome__img {
    max-width: 262px;
    max-height: 244px;
  }
}
@media (min-width: 1200px) {
  .welcome__img {
    max-width: 380px;
    max-height: 320px;
  }
}
/* crear un contenedor para el title y para la img de welcome */
/* COINS SECTION */
.coins {
  display: grid;
  gap: 50px;
}
.coins__search-result-container {
  display: flex;
  flex-direction: column;
}
/* COINS SEARCH AND RESULT PROPERTIES*/
.cs__title,
.cr__text {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.container {
  margin-top: 5px;
  display: flex;
}
.cs__input,
.cr__text-container {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 11px 0 11px 16px;
  background-color: #232323;
}
.cs__input:focus,
.cr__input:focus {
  outline: none;
  border: 0.1px solid #fff;
}
.cs__btn,
.cr__btn {
  border: none;
  border-radius: 8px;
  margin-left: -20px;
  background-color: #ff7a00;
  padding: 6px 10px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.cs__btn--icon {
  width: 20px;
  height: 20px;
}
/* COINS RESULT PROPERTIES */
.cr__text {
  font-size: 14px;
}
.cr__text-money {
  color: #4cd71d;
}
.cr__btn {
  min-width: 70px;
}
/* COINS TRACKED */
.coins__tracked {
}
.template {
  width: 156px;
  height: 224px;
  background-color: #232323;
  border-radius: 8px;
}
.template-content {
  padding: 7px 8px;
  display: grid;
  gap: 20px;
}
/* DELETE */
.template__delete {
  display: flex;
  justify-content: flex-end;
}
.template__delete > img {
  width: 14px;
  height: 14px;
  cursor: pointer;
}
/* CURRENCY */
.template__currency {
  display: flex;
  justify-content: space-between;
}
.template__currency-name {
}
.template__currency-name h3 {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.template__currency-name h5 {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.template__currency-icon {
  width: 41px;
  height: 41px;
}
/* CURRENCY TO USD */
.template__currency-to-usd {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #4cd71d;
}
/* MINMAX */ ;
